location|/Users/kate/Documents/Hathi_stuff/Hathi_test
destination|/Users/kate/Downloads/Hathi_testing
/Users/kate/Documents/Hathi_stuff/Hathi_test/ark+=81431=p3b853j81|99799313503681
/Users/kate/Documents/Hathi_stuff/Hathi_test/ark+=81431=p36q1sj1n|99799313503681
