location|/Users/kate/Documents/Hathi_stuff/Hathi_test
destination|/Users/kate/Downloads/Hathi_testing
/Users/kate/Documents/Hathi_stuff/Hathi_test/ark+=81431=p3pp4m|9911154383503681
/Users/kate/Documents/Hathi_stuff/Hathi_test/ark+=81431=p3bc7j|999560953503681
/Users/kate/Documents/Hathi_stuff/Hathi_test/ark+=81431=p36p48|999734573503681
